In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv(r"C:\Users\cesst\OneDrive\Desktop\Evolve\ml\Taxi\Dataset\cleaned_taxi_trip_pricing.csv")

In [5]:
data

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.350000,0,0,3,0,0,3.560000,0.800000,0.320000,53.82,36.262400
1,47.590000,1,0,1,1,0,3.502989,0.620000,0.430000,40.57,56.874773
2,36.870000,2,1,1,1,0,2.700000,1.210000,0.150000,37.27,52.903200
3,30.330000,2,0,4,0,0,3.480000,0.510000,0.150000,116.81,36.469800
4,27.070547,2,0,3,1,0,2.930000,0.630000,0.320000,22.64,15.618000
...,...,...,...,...,...,...,...,...,...,...,...
995,5.490000,1,1,4,2,0,2.390000,0.620000,0.490000,58.39,34.404900
996,45.950000,3,0,4,2,0,3.120000,0.610000,0.292916,61.96,62.129500
997,7.700000,0,0,3,0,1,2.080000,1.780000,0.292916,54.18,33.123600
998,47.560000,0,0,1,0,0,2.670000,0.820000,0.170000,114.94,61.209000
999,22.850000,0,1,3,2,0,4.340000,1.233316,0.230000,29.69,45.443700

In [7]:
data.isna().sum()

Trip_Distance_km         0
Time_of_Day              0
Day_of_Week              0
Passenger_Count          0
Traffic_Conditions       0
Weather                  0
Base_Fare                0
Per_Km_Rate              0
Per_Minute_Rate          0
Trip_Duration_Minutes    0
Trip_Price               0
dtype: int64