In [133]:
import pandas as pd

In [184]:
data = pd.read_csv(r"C:\Users\cesst\OneDrive\Desktop\Evolve\ml\Taxi\Dataset\taxi_trip_pricing.csv")

In [185]:
data.head()

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180

In [186]:
data.isna().sum()

Trip_Distance_km         50
Time_of_Day              50
Day_of_Week              50
Passenger_Count          50
Traffic_Conditions       50
Weather                  50
Base_Fare                50
Per_Km_Rate              50
Per_Minute_Rate          50
Trip_Duration_Minutes    50
Trip_Price               49
dtype: int64

In [187]:
data.duplicated().sum()

np.int64(0)

In [188]:
data.describe()

,Trip_Distance_km,Passenger_Count,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
count,950.000000,950.000000,950.000000,950.000000,950.000000,950.000000,951.000000
mean,27.070547,2.476842,3.502989,1.233316,0.292916,62.118116,56.874773
std,19.905300,1.102249,0.870162,0.429816,0.115592,32.154406,40.469791
min,1.230000,1.000000,2.010000,0.500000,0.100000,5.010000,6.126900
25%,12.632500,1.250000,2.730000,0.860000,0.190000,35.882500,33.742650
50%,25.830000,2.000000,3.520000,1.220000,0.290000,61.860000,50.074500
75%,38.405000,3.000000,4.260000,1.610000,0.390000,89.055000,69.099350
max,146.067047,4.000000,5.000000,2.000000,0.500000,119.840000,332.043689

In [189]:
data.shape

(1000, 11)

In [190]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       950 non-null    float64
 1   Time_of_Day            950 non-null    object
 2   Day_of_Week            950 non-null    object
 3   Passenger_Count        950 non-null    float64
 4   Traffic_Conditions     950 non-null    object
 5   Weather                950 non-null    object
 6   Base_Fare              950 non-null    float64
 7   Per_Km_Rate            950 non-null    float64
 8   Per_Minute_Rate        950 non-null    float64
 9   Trip_Duration_Minutes  950 non-null    float64
 10  Trip_Price             951 non-null    float64
dtypes: float64(7), object(4)
memory usage: 86.1+ KB

In [191]:
data.select_dtypes("float64").columns

Index(['Trip_Distance_km', 'Passenger_Count', 'Base_Fare', 'Per_Km_Rate',
       'Per_Minute_Rate', 'Trip_Duration_Minutes', 'Trip_Price'],
      dtype='object')

In [192]:
float_col =  data.select_dtypes("float64").columns

In [193]:
float_col

Index(['Trip_Distance_km', 'Passenger_Count', 'Base_Fare', 'Per_Km_Rate',
       'Per_Minute_Rate', 'Trip_Duration_Minutes', 'Trip_Price'],
      dtype='object')

In [194]:
for col in float_col:
    data[col] = data[col].fillna(data[col].mean())

In [195]:
data.isna().sum()

Trip_Distance_km          0
Time_of_Day              50
Day_of_Week              50
Passenger_Count           0
Traffic_Conditions       50
Weather                  50
Base_Fare                 0
Per_Km_Rate               0
Per_Minute_Rate           0
Trip_Duration_Minutes     0
Trip_Price                0
dtype: int64

In [196]:
obj_col =  data.select_dtypes("object").columns

In [197]:
obj_col

Index(['Time_of_Day', 'Day_of_Week', 'Traffic_Conditions', 'Weather'], dtype='object')

In [198]:
for col in obj_col:
    data[col] = data[col].fillna( data[col].mode()[0] )

In [199]:
data.isna().sum()

Trip_Distance_km         0
Time_of_Day              0
Day_of_Week              0
Passenger_Count          0
Traffic_Conditions       0
Weather                  0
Base_Fare                0
Per_Km_Rate              0
Per_Minute_Rate          0
Trip_Duration_Minutes    0
Trip_Price               0
dtype: int64

In [200]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       1000 non-null   float64
 1   Time_of_Day            1000 non-null   object
 2   Day_of_Week            1000 non-null   object
 3   Passenger_Count        1000 non-null   float64
 4   Traffic_Conditions     1000 non-null   object
 5   Weather                1000 non-null   object
 6   Base_Fare              1000 non-null   float64
 7   Per_Km_Rate            1000 non-null   float64
 8   Per_Minute_Rate        1000 non-null   float64
 9   Trip_Duration_Minutes  1000 non-null   float64
 10  Trip_Price             1000 non-null   float64
dtypes: float64(7), object(4)
memory usage: 86.1+ KB

In [201]:
data.shape

(1000, 11)

In [202]:
obj_col

Index(['Time_of_Day', 'Day_of_Week', 'Traffic_Conditions', 'Weather'], dtype='object')

In [203]:
data[ obj_col[0] ].unique()

array(['Morning', 'Afternoon', 'Evening', 'Night'], dtype=object)

In [204]:
enc_time = { 'Morning':0, 'Afternoon':1 , 'Evening':2, 'Night':3}

In [205]:
data["Time_of_Day"] = data["Time_of_Day"].map(enc_time)

In [206]:
data["Time_of_Day"]

0      0
1      1
2      2
3      2
4      2
      ..
995    1
996    3
997    0
998    0
999    0
Name: Time_of_Day, Length: 1000, dtype: int64

In [207]:
data

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.350000,0,Weekday,3.0,Low,Clear,3.560000,0.800000,0.320000,53.82,36.262400
1,47.590000,1,Weekday,1.0,High,Clear,3.502989,0.620000,0.430000,40.57,56.874773
2,36.870000,2,Weekend,1.0,High,Clear,2.700000,1.210000,0.150000,37.27,52.903200
3,30.330000,2,Weekday,4.0,Low,Clear,3.480000,0.510000,0.150000,116.81,36.469800
4,27.070547,2,Weekday,3.0,High,Clear,2.930000,0.630000,0.320000,22.64,15.618000
...,...,...,...,...,...,...,...,...,...,...,...
995,5.490000,1,Weekend,4.0,Medium,Clear,2.390000,0.620000,0.490000,58.39,34.404900
996,45.950000,3,Weekday,4.0,Medium,Clear,3.120000,0.610000,0.292916,61.96,62.129500
997,7.700000,0,Weekday,3.0,Low,Rain,2.080000,1.780000,0.292916,54.18,33.123600
998,47.560000,0,Weekday,1.0,Low,Clear,2.670000,0.820000,0.170000,114.94,61.209000
999,22.850000,0,Weekend,3.0,Medium,Clear,4.340000,1.233316,0.230000,29.69,45.443700

In [208]:
data[ obj_col[1] ].unique()

array(['Weekday', 'Weekend'], dtype=object)

In [209]:
enc_week = {'Weekday':0, 'Weekend':1}

In [210]:
data["Day_of_Week"] = data["Day_of_Week"].map(enc_week)

In [211]:
data[ obj_col[2] ].unique()

array(['Low', 'High', 'Medium'], dtype=object)

In [212]:
enc_traffic = { 'Low':0, 'High':1, 'Medium':2 }

In [213]:
data["Traffic_Conditions"] = data["Traffic_Conditions"].map(enc_traffic)

In [214]:
data[ obj_col[3] ].unique()

array(['Clear', 'Rain', 'Snow'], dtype=object)

In [215]:
enc_weather = {'Clear':0, 'Rain':1, 'Snow':2}

In [216]:
data["Weather"] = data["Weather"].map(enc_weather)

In [217]:
data

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.350000,0,0,3.0,0,0,3.560000,0.800000,0.320000,53.82,36.262400
1,47.590000,1,0,1.0,1,0,3.502989,0.620000,0.430000,40.57,56.874773
2,36.870000,2,1,1.0,1,0,2.700000,1.210000,0.150000,37.27,52.903200
3,30.330000,2,0,4.0,0,0,3.480000,0.510000,0.150000,116.81,36.469800
4,27.070547,2,0,3.0,1,0,2.930000,0.630000,0.320000,22.64,15.618000
...,...,...,...,...,...,...,...,...,...,...,...
995,5.490000,1,1,4.0,2,0,2.390000,0.620000,0.490000,58.39,34.404900
996,45.950000,3,0,4.0,2,0,3.120000,0.610000,0.292916,61.96,62.129500
997,7.700000,0,0,3.0,0,1,2.080000,1.780000,0.292916,54.18,33.123600
998,47.560000,0,0,1.0,0,0,2.670000,0.820000,0.170000,114.94,61.209000
999,22.850000,0,1,3.0,2,0,4.340000,1.233316,0.230000,29.69,45.443700

In [218]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       1000 non-null   float64
 1   Time_of_Day            1000 non-null   int64
 2   Day_of_Week            1000 non-null   int64
 3   Passenger_Count        1000 non-null   float64
 4   Traffic_Conditions     1000 non-null   int64
 5   Weather                1000 non-null   int64
 6   Base_Fare              1000 non-null   float64
 7   Per_Km_Rate            1000 non-null   float64
 8   Per_Minute_Rate        1000 non-null   float64
 9   Trip_Duration_Minutes  1000 non-null   float64
 10  Trip_Price             1000 non-null   float64
dtypes: float64(7), int64(4)
memory usage: 86.1 KB

In [219]:
data["Passenger_Count"] = data["Passenger_Count"].astype("int64")

In [220]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       1000 non-null   float64
 1   Time_of_Day            1000 non-null   int64
 2   Day_of_Week            1000 non-null   int64
 3   Passenger_Count        1000 non-null   int64
 4   Traffic_Conditions     1000 non-null   int64
 5   Weather                1000 non-null   int64
 6   Base_Fare              1000 non-null   float64
 7   Per_Km_Rate            1000 non-null   float64
 8   Per_Minute_Rate        1000 non-null   float64
 9   Trip_Duration_Minutes  1000 non-null   float64
 10  Trip_Price             1000 non-null   float64
dtypes: float64(6), int64(5)
memory usage: 86.1 KB

In [225]:
data.to_csv(r"C:\Users\cesst\OneDrive\Desktop\Evolve\ml\Taxi\Dataset\cleaned_taxi_trip_pricing.csv",index = False)